# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/


# Sphinx documentation
docs/_build/


# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.env.prod
.env.dev
.env.staging
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ruff stuff:
.ruff_cache/

# Log files:
*.log
/*.log

# local database file:
*.db
/*.db

# Python cache files:
__pycache__/